.bag-wrap{
  background-image: url(/Images/bag-on-pillar.webp);

  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;


  filter: black;
  display: block;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}
*{
    margin:0;
    padding:0;
}


body{
    overflow-x: hidden;
    scroll-behavior:smooth;

}
.display-none{
  display:none !important;
}

.hide{
  opacity: 0;
}
.announce{
    width:100%;
    display:flex;
    height:1em;
    background-color: red;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
}
.announce p{
    color:white;
    margin:10px;
}
.main-wrap{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    display: flex;
    align-items: start;
}
.bag-information{
    
    min-width: 233px;
}
.bag-information *{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
.bag-title{
    font-family: 'Inter', sans-serif;
    font-size: 8rem;
    font-weight: 900;
    text-align: left;
    letter-spacing: -10px;
    opacity:0;
}

.breadcrumbs{
    margin-right: 40%;
    width: 100%;
    white-space: nowrap;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 2px;

}
.bag-text{
    margin-top:2em;
    opacity:0;
    max-width: 534px;
    min-width: 510px;
    
}
.bag-text *{
  font-family: 'Inter', sans-serif;
}
.third-load, .fourth-load, .fifth-load{
  display: inline-block;
  opacity: 0;
}
.sixth-load{
  opacity: 0;
}
.desc-item{
  opacity: 0;
}
.bag-wrap{

  transition: all 700ms ease-in;

}
.desc{
  
    font-weight: bold;
    letter-spacing: 1px;
    margin-top:1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.desc span{
  padding:2.5px;
}
.img-desc{

  text-align: left !important;
  padding-left:15%;
  color: white !important;
  font-weight: lighter;

  bottom:0 !important;
  top:auto !important;
  padding-top: none !important;
  padding-bottom: 30%;
  font-size: large;

  display: auto;

  transition: all 500ms ease;
}




.img-desc-bottom{
  font-size: small;

}
.d-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
}
.breadcrumbs a{
    font-size: 14px;
    text-decoration: none;
    color: #010101;
}
.price{
  margin:0;
  padding-top:1.7em;
  padding-bottom:2em;
}
.bag-price{

  margin:0;
  width: 100%;
  opacity: 1;

}
.bag-price span{
opacity: 0;
font-family: 'Inter', sans-serif;
font-size: 8rem;
font-weight: 900;
font-size: 3.5rem;
letter-spacing: 0.5;
font-weight: 900;
letter-spacing: -10px;

}
.overlay-blk{
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:black;
  opacity: 0.15;
}
.quantity-add-wrap{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.quantity-wrap{
    display: flex;
    border: 2px solid black;
}
.cart-wrap{
    margin: 0;
}
.quantity{
    font-family: 'Inter', sans-serif;   
    font-weight: bold;
    font-size: 2rem;
    border-right: 2px solid black;
    margin:0;
    padding: 10px;
    padding-inline: 35px;
}
.cart-add{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-transform:uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.7rem;
    position: relative;
    margin: auto;
    padding:10px;
    color:black;
    padding-inline: 30px;
    transition:all 500ms ease-in-out;
    transition-delay: 50ms;

  }
  .cart-add::after{
    content:"\2764";
    position: absolute;
    transform: translateY(50px);

  }
  .cart-add::after{
    content:"\2764";
    position: absolute;
    transition: all 500ms ease-in-out;
    transform: translateY(50px);
 

  }
  .cart-add.cart-active::after {
    display: block;
  }
  .cart-active::after{
    transform: translateY(0px);
    opacity: 1 !important;

  }
  .cart-active{

  }
  

  .cart-parent{
    position: relative;
    transition:all 500ms ease-in-out;
    transition-delay: 50ms;
    overflow: hidden;

 
  }

  .cart-parent:hover > a{
    text-shadow:
    1px 0 0 black,
    1.5px 0 0 black,
    1.5px 0 0 black,
    1px 0 0 black;
    
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
  }
.cart-wrap{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 50px;
}
.increase-decrease,
.increase-decrease *{
    cursor: pointer;
    font-weight: bold;
    border-left: 2px solid black;
    padding: 5px;
    padding-inline: 10px;
    border-left: 0;
}
.decrease{
    border-top:2px solid black;
}
.nav-item{

  background-image: linear-gradient(
    to right,
    black,
    black 50%,
    #090909 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all 0.5s ease-in-out;

}
.nav-item:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;

  left: 0;
  width: 0;
  height: 3px;
  
}
.nav-item:hover {
  background-position: 0;
  opacity: 1;
}
a:hover::before {
  width: 100%;
}
nav{
  z-index: 3;
  bottom:env(safe-area-inset-bottom);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  opacity: 0.7;
}
.pointer-events-none{
  pointer-events: none;
}



.nav-wrap{

  z-index: 3;
  bottom:0;
  position: fixed;
}

.insta:hover{
  opacity: 1;
  transition-duration: 500ms;
}
.instagram-li{
  height:2rem;

}
.nav-li{
  z-index: 3;
  color:#090909;
  list-style-type: none;
  margin-left:15%;
  flex: 1 1 0;
  margin-bottom:20px;
  
}
.nav-li a{
  text-decoration: none;
  color: #090909;
  letter-spacing: .15rem;
}
.nav-li a:hover{
  text-decoration: none;
  color: #090909;
  transition-duration: 1;
  
}
.bag-wrap::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  
  transition: all 500ms ease;
  pointer-events: none;
}
.nav-li{
  position: relative;
}
.bag-image-wrap{
  margin-right:5%;
}
.bag-image{
  
  display: block;
  filter:blur(4px);
  max-width:885px;
  max-height:885px;
  width: auto;
  height: auto;
}

.logo{
  position:fixed;
  aspect-ratio: 1;
  height:100px;
  margin:40px;
  top:0;
  left:0;
  background-image: url(/Images/EsotericLogoRingAllign.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}
.logo:hover{
  background-image: url(/Images/output-onlinegiftools.gif);
  transform: scale(1.1);

}
#shop-section{
  z-index: 20;
  display: block;
  pointer-events: all;
}

.main-wrap{
  width:50vw;
}
.first-section{
  width: 100%;
  margin-top: 15vh;
  
}
.second-section{
  width: 50vw;
  height: 50vh !important;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8em;
}
.second-section > .bag-text{
  margin-top: 5em;
}
.shop-nav{
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.tee-bag-wrap{
  overflow: hidden;
  height:100%;
  margin-top:40px;
  position: relative;
}

.tee-bag-wrap p{
  padding-top: 50%;
  font-family: 'Inter', sans-serif;
  color: black;
  position: absolute;
  margin: auto;
  z-index: -1;
  top:0;
  left:0;
  width: 100%;
  height:100;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tee-wrap{

  width: 50vw;
  height: 90%;

  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: relative;

}
.c-left, .c-right{
  pointer-events: all;
}
.svg-nav{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  z-index: 10;
  margin:auto;
  width:46%;
  height:100%;
  margin-left: 50%;
  justify-content: space-between;
  align-items: end;
  pointer-events: none;
  opacity: 0;

}

.svg-nav a{
  display: block;
  margin-bottom:50%;
  transition: all ease-out 500ms;
}
.svg-nav a:hover{
  transform: scale(8);
}
.svg-nav svg{
  padding-inline: 10px;
  display: block;
  margin:0;
  overflow: visible;
}
circle{
  pointer-events: all;

}
.nav-title{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 5rem;
  margin-left:20px;
  margin-top:60%;
  margin-bottom:0px;
  color: white;
  transform: translateY(50px);
  opacity:0;
  display: block;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.tee-bag-wrap{
  overflow: hidden;
}



#cart-popup {
  z-index: 100;
  background-color: white;
  
  width: 50vw;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
}
#cart-amount, .bracket{
  display: inline-block;

}
.shot-by{
  opacity: 0.75 !important;
  font-size:9pt;
}

#cart{
  min-width: fit-content;
}
.closing-bracket{
  margin-left: -4px;
}
.nav-li{
  cursor: pointer;
}
#cart-popup{
  display: flex;
  padding: 0;
}
.popup-wrap{
  width: calc(100% - 1px);
  border-right: 1px solid;
  margin: 0;
}
#cart-items > li{
  flex-direction: row;
}
.cart-thumb{
  aspect-ratio:1;
  width:10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.popup-wrap> h2{
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: -8px;
  font-size: 8em;
  margin: 15px;
  margin-inline: 10px;
  
}
.blur{
  filter: blur(7px);
  -webkit-transition : -webkit-filter 1000ms ease
}

.popup-wrap > .cart-buttons > button{
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  border: none;
  font-family: 'Inter', sans-serif;
  margin: 15px;
  margin-inline: 10px;
  font-size: 5em !important;
  text-decoration: none !important;
}
.cart-buttons{
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
}
#cart-items{
  display: block;

}
#cart-items li{
  border-top: 1px solid black ;
  text-transform: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 10px;
}

#cart-items li button{
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  
}
#cart-items li span{
  font-family: 'Inter', sans-serif;
}
.cart-item{
  font-weight: bold;
}
.item-1{
  padding-right:100px;

  
}

.checkout{
  text-align: right;
  font-family: 'Inter';
  font-size: 4em;
  letter-spacing: -5px;
  font-weight: 700;
  color:white;
  background-color: transparent;
  border: none;

}
#checkoutForm, #checkoutForm > button{
  pointer-events: all;
  cursor: pointer;
  width:100%;
}

.close-cart{
  transition: all 500ms ease-out;
}
.close-cart:hover{
  transform: rotate(90deg);

}

section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.footer{
  margin-top: 4em;
  margin-bottom:6em;
  width:100%;
  text-align: left;
}
.footer h2{
  font-family: 'Inter', 'sans-serif';
  font-size:4.5em;
  font-weight: 900;
  letter-spacing: -12.5px;
  text-align: center;
  margin-top: 20px;
}
.next-page{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.next-page > a{
  font-family: 'Inter', 'sans-serif';
  font-size: 10em;
  font-weight: 900;
  letter-spacing: -25.5px;
  text-align: center;
  cursor: pointer;
  color: #010101;
  transition: all 500ms ease-out;
  text-decoration: none;
  overflow: hidden;

}
.boring-link::after {
  content: '';
  position: absolute;

  z-index: 4;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(100%, 0, 0);
}
.boring-link:hover::after,
.boring-link:focus::after{
  transform: translate3d(0, 0, 0);
}

.next-page > a:hover{
  opacity: 0.9;
}
.links span{
  font-family: 'Inter', 'sans-serif';
  font-weight: 200;
  color: #010101;
  cursor: pointer;
}
.links span a{
  color: #010101;
}
.links{
  
  display: flex;
  justify-content: space-around;
}
.flex-direction{
  flex-direction: row-reverse;
}






.opa-product{
  opacity: 0;
}

.test-cart{
  pointer-events: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  top:0;
  width: 100vw;
  height:100%;
  z-index: 200;
  transform:translateY(100vh)
}
.test-cart > div{
  width:50vw;
  height: 100%;
}
.cart-right{
  pointer-events: none;
}
.cart-right *{
  pointer-events: all;
}
.cart-left{
  background-color: white;
  display: flex;

}

.cart-information{
  
  width:80%;
  margin-inline: 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.headers, .cart-product{
  display: flex;
  justify-content: space-evenly;
}
.headers{
  font-size: 0.8em;
  margin-top:20vh;
  margin-bottom: 10px;
}
.cart-products{
  position: relative;
}

.cart-product{
  width:100%;
  padding-top:0.3em;
  position: relative;
  z-index: 201;
}
.product-line-top{
  height: 1.5px;
  width: 0%;
  background-color: #010101;
  position: absolute;
  top:0;
  left:0;
}
.header-product{
  width:60% !important;
}
.product-product{
  font-size:4em;
  font-weight: 700;
  letter-spacing: -8px;
  width:60% !important;
}

.product-quantity, .product-price{
  font-size: 0.8em;
  margin-top:10px;
}
.product-quantity, .header-quantity{
  width:40%;
}
.product-quantity span{
  padding-inline:10px;
  cursor: pointer;
  pointer-events: all;
}
.cart-quantity{
  padding-left:0px !important;
}
.product-price, .header-price{
  display: inline-block;
}

.header-quantity{
  transform: translateX(-16px);
}
.cart-right{
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Inter', sans-serif;
}
.confirm-cart-wrap{
  height:35vh !important;
  width: 92%;
  bottom:0;
  pointer-events: none;
}
.total-wrap, .shipping-wrap{
  width: 95%;
  padding-inline: 2.5%;
  padding-top:0.8em;
  padding-bottom:0.8em;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}
.line-top-cart{
  height: 2px;
  width:99%;
  background-color: white;
  position: absolute;
  top:0;
  left:0;
}
.shipping-wrap{
  position: relative;
}

.line{
  position:absolute;
  width: 0%;
  height: 1.8px;
  background-color: black;
  bottom:0;
  margin-bottom: calc(35vh - 2px);
  z-index: 300;
}
.checkout-wrap{
  width:97.5%;

  margin-right:2.5%;

}
.x{
  font-family: 'Inter';
  font-size: 3em;
  pointer-events: all;
  cursor: pointer;
  transition: all 500ms ease-out;
}
.more-info-transition{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:250vw;
  background-color: white;
  z-index: 500;
  pointer-events: none;
  opacity: 0;
}






@media only screen and (max-width: 1387px){
  .bag-title{
    font-size:7.5rem;
  }

}
@media only screen and (max-width: 1345px){
  .bag-title{
    font-size:7rem;
  }
}
@media only screen and (max-width: 1228px){
  .bag-title{
    font-size:6.5rem;
  }
  section{
    display: block;
  }
  .bag-information{
    scale:0.9;
  }
  .second-section > .bag-text{
    scale:0.9;
  }
}
@media only screen and (max-width: 1186px){
  .bag-title{
    font-size:6rem;
  }
}
@media only screen and (max-width: 1148px){
  .bag-title{
    font-size:5.5rem;
  }
}
@media only screen and (max-width: 1106px){
  .bag-title{
    font-size:5rem;
  }
}
@media only screen and (max-width: 950px){
  body{
    overflow: auto;
    overflow-x: hidden;
  }
  .instagram{
    display: none;
  }
  .test-cart{
    flex-direction: column;
    
  }
  .line{
    width:80% !important;
  }
  .test-cart > div{
    width:100%
  }
  .product-product{
    font-size: 2.8em;
  }
  .confirm-cart-wrap{
    width:80%;
    margin-inline: 10%;

  }
  .confirm-cart-wrap> div, .checkout{
    color:black;
  }
  .checkout{
    text-align: center;
    font-size: 3em;
  }
  .confirm-cart-wrap, .cart-information{
    overflow: hidden;
  }
  .line-top-cart{
    background-color: black;
  }
  .line{
    transform: scale(1, -1);
  }
  .cart-right{
    background-color: white;
  }
  .second-section{
    width: 80%;
  }
  .footer-spacer{
    height:10em;
  }
  .next-page{
    margin-top:2em;
    justify-content: left;
  }
  .next-page a{
    font-size: 8em;
    overflow: visible;
    text-align: left;
  }
  .second-section > .bag-text{
    scale:1;
  }
  .bag-information{
    scale:1;
  }
  .bag-title{
    text-align: left;
    font-size:4rem;
  }
  .breadcrumbs{
    text-align: left;
  }
  .main-wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transform: translateY(80vh);
  }
  .img-desc{
    bottom:10em !important;
    top:auto;
  }
  .svg-nav{
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin:0;
    position: absolute;
    justify-content: space-between;
  }
  .tee-bag-wrap p {
    padding-top:0;
  }
  .shop-nav{
    flex-direction: column-reverse;
    justify-content: start;
    position: absolute;
    align-items: center;
    width: 100vw;
    
  }
  .first-section{
    margin-top: 0;
  }
  .tee-bag-wrap{
    height:0;
    margin:0;
  }
  .tee-bag-wrap:nth-child(2){
    width: 100vw;
    height: 80vh;

  }
  .bag-wrap{
    width: 100vw;
    height: 80vh;
    transform: translateX(0) !important;
    background-position-x: center !important;
  }
  .nav-li{
    display: flex;
    justify-content: center;
  }
  .closing-bracket{
    margin-left:0;
  }
  .nav-item{
    text-align: center;
    width:100%;
  }
  .bracket, #cart-amount{
    scale:0.8;
  }

  nav{
    padding-inline:20px;
    border-top:2px solid #090909;
    background-color: white;
    opacity: 1;
  }
  .cart-wrap{
    border-left: 2px solid black;
  }
  .bag-information{
    margin:2em;
  }
  .bag-price{
    text-align: left;
  }
  .bag-image-wrap{
    margin:0;
  }
  .desc{
    margin-bottom:5rem;
  }
  nav{
    justify-content: center;
  }
  .nav-item{
    font-size: 2.7vw;
  }
  .second-section{
    margin-top:2em;
    margin: 2em;
  }
  .bag-text{
    min-width:auto;
    max-width: auto;
  }
  .desc span{
    margin-bottom: 0.8em;
  }
  .nav-li{
    margin-left:10%;
    font-size: small;
  }
}
@media only screen and (max-width: 500px){
  .product-product{
    font-size: 2em;
    letter-spacing: -5px;
  }
}
@media only screen and (max-width: 347px){
  .cart-wrap{
    border-left: none;
  }
}



.main-announcement{
  position: fixed;
  top:0;
  
  width: 100%;
  display: flex;
  justify-content: center;
  mix-blend-mode: difference;
  z-index: 9999;
}
.main-announcement h3{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  width: max-content;
  background-color: white;
  padding: 10px 30px 10px 30px;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
}